* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a p:hover {
  color: #993b04;
  font-size: 25px;
}

body {
  background: url(./img/7507w/prancheta-4.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-origin: border-box;
}

header {
  margin-left: 30px;
  text-align: center;
  padding: 30px 0 20px;
  font-family: "Creepster", cursive;
  font-size: 30px;
  color: #993b04;
}
main {
  min-height: 76vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto {
  max-width: 620px;
  margin-left: 40px;
  text-align: center;
  padding: 15px;
  font-family: "Creepster", cursive;
  font-size: 20px;
  color: #1f1f1f;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.icons {
  min-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
  padding-top: 25px;
}

.icons img {
  width: 120px;
}

.personagens {
  text-align: center;
  font-family: "Creepster", cursive;
  font-size: 20px;
}

footer {
  background: rgba(0, 123, 127, 0.5);
  padding: 20px;
  color: white;
  text-align: center;
}
