* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./img/7507w/prancheta-4.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-origin: border-box;
}

header {
  margin-left: 30px;
  text-align: center;
  padding: 30px 0 20px;
  font-family: "Creepster", cursive, Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #993b04;
}
main {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.texto {
  max-width: 620px;
  margin-left: 40px;
  margin-bottom: 40px;
  text-align: center;
  padding: 40px 20px;
  font-family: "Nunito", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1f1f1f;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.texto h2 {
  font-size: 50px;
  font-family: "Creepster", cursive, Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
}

.texto img {
  width: 200px;
}
span a {
  color: inherit;
  text-decoration: none;
  margin: 50px;
  font-family: "Creepster", cursive, Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: #993b04;
  border-radius: 10px;
  padding: 10px;
}

span a:hover {
  font-size: 25px;
  transition: 1s all;
}
footer {
  background: rgba(0, 123, 127, 0.5);
  padding: 20px;
  color: white;
  text-align: center;
  align-content: flex-end;
}

@media (max-width: 770px) {
  header {
    width: 100vw;
    margin: 0;
  }
  main {
    min-height: 80vh;
    align-items: center;
  }

  .texto {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 0;
  }

  span a {
    margin: 0;
    margin-bottom: 10px;
  }

  footer {
    margin: 0;
    margin-top: 20px;
    padding: 20px 0;
  }
}
